*{
  margin: 0;
  padding: 0;
}

/* .container{
  display: flex;
  width:100vw;
  height: 100%;
  .menu{
    width: 200px;
    min-height: 100vh;
    background-color: orange;
  }
  .content{
    flex:1;
    min-height: 100vh;
    background-color: pink;
  }
} */
 html, body{
  height: 100%;
 }
 #root{
  height: 100%;F
 }
 .container{
    height: 100%;
    display: flex;
    .menu{
      width: 200px;
      background-color: orange;
    }
    .content{
      flex: 1;
      overflow: auto;
      background-color: pink;
    }
 }